/* Mobiilid (Mobile) */
@media (max-width: 768px) {
    body {
        font-size: 16px;
        margin:0;
        padding: 10px;
    }
    header, footer {
        text-align: center;
        padding: 10px;
    }

    
    nav {
        flex-direction: column; 
        align-items: center; 
        padding: 10px;
        width: 100%; 
    }

    .nav-links {
        display: flex;
        flex-direction: column; 
        text-align: center; 
        margin-top: 10px; 
    }

    .nav-links a {
        padding: 10px 20px; 
        font-size: 18px; 
        color: white;
        text-decoration: none;
    }

    .logo {
        display: flex;
        justify-content: center; 
        margin-top: 20px;
    }

    .logo a {
        margin: 0 10px; 
        color: white; 
    }

    .nav_pilt1{
        width: 50%; 
        height: auto;
        margin-top: 20px;
    }
    
    .video_screen {
        display: block;
    }
    .tulbad {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
        padding: 0 44px;
        
        
    }
    .video img{
        display: none;
        align-items: center;
    }
   
    .Rows{   
        display: flex;
        flex-direction: column; 
        gap: 10px;
    }
    .logo2{
        display: flex;
    }
    .part2 {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: 20px; 
        text-align: center;
    }
    .part3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }
    .text-container {
        text-align: center;
    }

    .Macbook {
        width: 100%; 
        height: auto;
    }

    .button1 {
        padding: 12px 40px;
        border-radius: 35px;
        background-color: #2091F9;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border: none;
        margin-top: 10px;
    }
    .hide{
        display: none;
    }
    .part2_3m{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;

    }
    .part3_1, .part3_p{
        display: none;
    }
    .part3_2{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .subscribe{
        text-align: center;
        padding: 12px 100px;
    }
    .main_row img{
        display: none;
    }
    .part6_2{
        display: flex;
        flex-direction: column;
    }
    .part6_FB, .part6_S{
        padding: 40px;
        text-align: center;
    }
    .mobile_part7 {
        display: block;

    }
    .part7_2{
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .part7_3{
        display: none;
        
    }
    .mobile_72 i {
        color: #2091F9;
        margin-bottom: 25px;
        font-size: 24px;
    }
    .logo2{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 50px;
        
    }
}


/* ARVUTI  */
@media (min-width: 769px) {
    body {
        font-size: 16px;
        padding: 20px;
    }

    header, footer {
        text-align: left;
        padding: 20px;
    }

    
    nav {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 10px 20px;
        width: 80%; 
        margin: 0 auto;
    }

    .nav-links {
        display: flex; 
        justify-content: space-between; 
        width: 80%; 
    }

    .nav-links a {
        font-size: 18px; 
        padding: 0 15px; 
        text-align: center;
        color: white;
        text-decoration: none;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-end; 
    }

    .logo a {
        margin: 0 10px; 
        color: white; 
    }

    .nav_pilt1 {
        width: 120px; 
        height: auto;
        margin: 0 20px; 
    }
    .First{
        margin-left: 35%;
        margin-right: 35%;
    }
    .video_screen {
        display: none;
        align-items: center;
        
    }
    .tulbad{
        padding:  100px 120px;
        gap: 100px;
    }
    .part2{
        display: flex;
        padding: 100px 350px;
        color: #252B42;
        justify-content: space-between;
        gap: 280px;
    
    }
    .part2_3m{
        display: none;

    }
    .part3{
        padding:  100px 350px;
        gap: 180px;
    }
    .part3_right{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .subscribe{
        padding: 12px 20px;
    }
    .part4{
        padding:  100px 350px;
    }
    .part6_2{
        padding:  100px 350px;
    }
    .part6_FB, .part6_S{
        padding: 20px 20px;
    }
    .mobile_part7 {
        display: none;

    }
    .part7_2{
        padding: 100px 0px;
        gap: 80px;
        flex-direction: row;

    }
    .part7_3{
        display: block;
    }

    .Rows{
        padding:  100px 160px;
    }
}
/* Navbar Styles */
nav {
    
    overflow: hidden;
    display: flex; 
    flex-wrap: wrap; 
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
}

.nav-links a {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    font-size: 24px; 
    text-decoration: none;
}

.logo a:hover {
    color: rgba(255, 255, 255, 0.822); 
}

.nav_pilt1 {
    height: auto;
    text-align: center;
}

/* Header Image Styling */
header {
    position: relative;
    width: 100%;
    height: 900px; 
    clip-path: polygon(0 0, 100% 0, 100% 90%, 51% 98%, 49% 98%, 0 90%);
}

.header_img {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    z-index: -1;  
}
.First{
    text-align: center;
    color: white;
    

}
.header_button {
    text-align: center;
    color: white;
    background-color: #2091F9;
    border: 2px solid transparent;
    position: center;
    padding: 12px 40px;
    gap: 0px;
    border-radius: 35px;
    opacity: 0px;
    
}
/*MAIN OSA STYLID*/
body {
    font-family: Arial, sans-serif; 
}
.part1{
    padding-top: 50px;
}
.text_features{  
    text-align: center;
}
h2{
    color: #252B42;
    font-size: 40px;
}
.features_p{
    display: flex;
    flex-direction: column;
    color: #374754;
    font-size: 20px;
}

.tulbad{
    display: flex;
    align-items: center;
    color: #252B42;
    justify-content: space-between;
    
    
}
.left{
    flex: 1;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
    
}

.middle{
    flex: 1;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
}
.right{
    flex: 1;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
}
.video{
    text-align: center;
    max-width: 100%;
    border-radius: 8px;
    align-items: center;
    
}
.video2 {
    display: block;
}
.part2{
    display: flex;
    color: #252B42;
    justify-content: space-between;
}
.part2_2 {
    padding-top: 40px;
}
.hide{
    padding-bottom: 40px;
}
.Macbook{
    width: 400px;
    height: auto;
    
}

.button1{
    text-align: center;
    color: white;
    background-color: #2091F9;
    border: 2px solid transparent;
    position: center;
    padding: 12px 40px;
    gap: 0px;
    border-radius: 35px;
    opacity: 0px;
}
.part3{
    display: flex;
    color: #252B42;
    justify-content: space-between;
}
.part3_right input{
    display: block;
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #e6e6e6;
    font-size: 14px;

}
.part3_p{
    font-size: 50px;
}
.part6_h2{
    margin-bottom: 5px;
    font-size: medium;
}
p{
    margin-top: 0;
}
.newsletter{
    width: 400px;
    height: auto;
}
input{
    width: 50%;
    padding: 12px 20px;
    border-radius: 35px;
    border: 5px #E8E8E8;
    color: #F4F4F4;
}
.subscribe{
    text-align: center;
    color: white;
    background-color: #2091F9;
    border: 2px solid transparent;
    position: center;
    gap: 0px;
    border-radius: 35px;
    opacity: 0px;
}
.part4{
    display: flex;
    flex-direction: column;
    color: #252B42;
    justify-content: space-between;
    gap: 30px;
    text-align: center;

}
.main_p{
    color: #374754;
    font-size: 20px;
}
.part5{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}
.imb{
    padding-bottom: 30px;
    padding-top: 30px;
}
.imb2{
    padding-bottom: 40px;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.imb3{
    padding-bottom: 40px;
}

.more{
    text-align: center;
    color: white;
    background-color: #2091F9;
    border: 2px solid transparent;
    position: center;
    padding: 12px 35px;
    gap: 0px;
    border-radius: 35px;
    opacity: 0px;
}
.part6{
    background-color: #252B42;
    color: white;
    padding: 35px;
}
.part6_h{
    color: white;
    text-align: center;
}
.part6_text{
    padding-bottom: 50px;
    width: 20%;
    text-align: center;
    margin: 0 auto;
}
.part6_2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.part6_B13 {
    text-align: center;
    color: white;
    background-color: #2091F9;
    border: 2px solid transparent;
    position: center;
    padding: 12px 25px;
    gap: 0px;
    border-radius: 35px;
    opacity: 0px;
}
.part6_B2{
    text-align: center;
    color:#2091F9;
    background-color: white;
    border: 2px solid transparent;
    position: center;
    padding: 12px 25px;
    gap: 0px;
    border-radius: 35px;
    opacity: 0px;
}
.part6_FB{
    background-color: white;
    color: #252B42;
    border-radius: 15px;
    width: 20%;
}
.part6_S{
    background-color: #2091F9;
    border-radius: 15px;
    width: 20%;
    
}
.part6_FB, .part6_S{
    text-align: center;
}
.part6_title{
    font-weight: bold;
}
.price-number{
    font-size: 60px;
    font-weight: bold;
}
/*OSA 7 CONTACT US*/
.part7{
    padding-top: 80px;
}

.part7_1{
    text-align: center;
    padding-top: 30px;
}
.part7_2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.part7_2_1{
    border: 2px solid;
    padding: 20px;
    
    
}
.part7_h3{
    text-align: center;
}
input{
    display: block;
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e6e6e6;
    font-size: 14px;
}
.part7_message {
    height: 80px; 
}
.part7_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}
.part7_contact i {
    color: #2091F9;
    margin-bottom: 25px;
    font-size: 24px;
}
.part7_contact p{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}
.part7_map{
    
    padding-left: 50px;
}
.part7_31{
    margin-top: 50px;
    font-size: 34px;
    
}
.part7_31 a{
    color: #2091F9;
}
.part7_button{
    text-align: center;
    color: white;
    background-color: #2091F9;
    border: 2px solid transparent;
    position: center;
    padding: 12px 40px;
    gap: 0px;
    border-radius: 35px;
    opacity: 0px;
    
}
.mobile_part7{
    text-align: center;
}
.mobile_part7 a{
    color: #2091F9;
    margin-bottom: 25px;
    font-size: 34px;
    
}
.mobile_71, .mobile_72{
    padding: 25px 0;
}
/*FOOTERI OSA STYLID*/
footer{
    background-color: #252B42;
    padding: 150px 0 150 px 0;
    color: white;
}
.Rows{
    display: flex;
}
.Row1{
    flex: 30%;
}
.Row2{
    flex: 30%;
}
.Row3{
    flex: 50%;
}
.logo2{
    gap: 50px;
}
.logo2 a{
    flex: 30%;
    font-size: 34px; 
    text-decoration: none;
    color: white;
    margin-right: 15px;

}
.address{
    white-space: nowrap;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}